body{
    background-color: #355764;
    padding: 0px;
    margin: 0px;
}
#home_page{
    background-color: #D4F6CC;
    top: 25vh;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    height: 25vh;
    width: 25vw;
}
#login_home_page{
    background-color: #81CACF;   
    top: 25vh;
    padding-left: 50px;
    padding-right: 50px;
    height: 31vh;
    width: 50vw;
} 
#register_home_page{
    background-color: #81CACF;
    top: 25vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    height: 60vh;
    width: 50vw;
}
.form-control{
    margin-bottom: 5px;
}
#header{
    background-color: #D4F6CC;
    height: 8vh;
    width: 101vw;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 50px;
}
#logout_link{
    text-decoration: none;
    color: white;
}
#left_sidebar{
    margin-top: 50px;
    width: 13vw;
    height: 30vh;
    display: inline-block;
}
#left_sidebar table tr{
    background-color: #0096FF;
    color: white;
    font-size: 18px;
}
#left_sidebar table tr:hover{
    background-color: #D4F6CC;
    color: black;
    font-size: 20px;
}
#logout_link{
    text-decoration: none;
    color: white;
}
#logout_link:hover{
    background-color: #D4F6CC;
    color: black;
}
#right_sidebar{
    padding: 35px;
    height: 75vh;
    width: 75vw;
    display: inline-block;
    color: white;
}

